/* Your Website Styles */
/*GLOBAL STYLING*/
footer.grid_12.alpha.omega {
	width: 100%;
	font-size: 100%;
}

header.grid_12.alpha.omega {
	height: 113px;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 10px;


}
.grid_4 {
	margin-top: 50px;
	width: 30%;
}

.container {
	width: 1000px;
	max-width: 100%;
	}




nav {
	width: 100%;
}

a {
	font-size: 1em;
}


footer {
	background-color: rgba(255,255,255,.9);
	width: 100%;
	padding: 30px 10px 5px 10px;
	display: block;
	border-top: solid 1px #c5c5c5;
	padding: 0;
	
}


footer p {
	font-size: .75em;
	color: #c5c5c5;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

 .main-nav-wrapper {
	position: fixed;
	left: 0px;
	background-color: rgba(255,255,255,.4);
	width: 100%;
	padding: 30px 10px 5px 10px;
	text-transform: lowercase;
	display: block;
	border-bottom: solid 1px #c5c5c5;
	padding-top: 20px;
} 


/*img*/


/* typography */

h1 {
	width: 100%;
	margin-top: 50px;
	font-size: 6em;
	font-family: 'Alex Brush', cursive;
	text-align: center;

}

p {
	font-size: .9em;
	font-family: 'Raleway', sans-serif;
}
li {
	font-size: .9em;
	font-family: 'Raleway', sans-serif;
	list-style-type: none;
}

h4 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	margin-bottom: -15px;
}

h5 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	margin-bottom: -10px;
	margin-top: 15px;
}




/* img */


/* links */

.main-nav-wrapper a {
	padding-right: 10px; 
	font-style: italic;
	font-size: .85em;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
}


a:link,
a:visited,
a:hover,
a:active {
	text-decoration: none;

}

.main-nav-wrapper a:link, 
.main-nav-wrapper a:visited,
.main-nav-wrapper a:active {
	color: #c5c5c5;
	float: left;
}

.main-nav-wrapper a:hover {
	color: #666;
}


.grid_12 a:hover {
color: #ccc;

}


/*************** Media Queries **************************************************************/

/**********************LARGE DESKTOPS (below)***************/

@media screen and  (min-width:1200px) and (max-width:2000px) {
	/*body {
	background: yellow;*/
}

}


/**************************DESKTOPS (below)*******************/
@media screen and (min-width:769px) and (max-width:1199px) {

/*body {
	background: blue;
}*/

.grid_4 {
	margin-top: 30px;
}
header.grid_12.alpha.omega {
	height: 113px;
	width: 100%;
	margin-top: 20px;
}

 .main-nav-wrapper {
	position: fixed;
	left: 0px;
	background-color: rgb(255,255,255);
	width: 100%;
	padding: 30px 10px 5px 10px;
	text-transform: lowercase;
	display: block;
	border-bottom: solid 1px #c5c5c5;
	padding-top: 20px;

}
/*IMAGE*/
img#gd-img {
	margin-top: 0px;
}
section img {
margin-bottom: 50px;
	
}

}




/*************************TABLETS (below)************************/
@media only screen and (min-width: 480px) and (max-width: 768px) {
/*GLOBAL*/

.grid_4 {
	margin-top: 10px;
}

/*body {
	background: red;
}*/
header.grid_12.alpha.omega {
	height: 113px;
	width: 100%;
	margin-top: 20px;
}


 section.grid_12.alpha.omega {
 	margin-top: 5px;
 }

 .main-nav-wrapper {
	position: fixed;
	left: 0px;
	background-color: rgb(255,255,255);
	width: 100%;
	padding: 30px 10px 5px 10px;
	text-transform: lowercase;
	display: block;
	border-bottom: solid 1px #c5c5c5;
	padding-top: 20px;

}

/* IMAGE */
img#gd-img {
	margin-top: -5px;
}

section img {
margin-bottom: 40px;
	
}


 /* TYPE */
h1 {
 	font-size: 4.25em;
 }
li {
	text-indent: -40px;
}
/* LINKS */

}




/*********************************MOBILE (below)***********************/
@media only screen and (min-device-width: 320px) and (max-width: 479px) {
/*GLOBAL*/
 /*body {
	background: green;
}*/
.grid_4 {
	margin-top: 10px;
}
 .main-nav-wrapper {
	position: fixed;
	left: 0px;
	background-color: rgb(255,255,255);
	width: 100%;
	padding: 30px 10px 5px 10px;
	text-transform: lowercase;
	display: block;
	border-bottom: solid 1px #c5c5c5;
	padding-top: 20px;

}
header.grid_12.alpha.omega {
	margin-top: 20px;
	margin-bottom: -10px;
}

 section.grid_12.alpha.omega {
 	margin-top: -30px;
 }


/* IMAGE */

img#gd-img {
	margin-top: -10px;
}

section img {
margin-bottom: 20px;
}

 /* TYPE */

li {
	text-indent: -40px;
}
 p {
	font-size: .8em;
	font-family: 'Raleway', sans-serif;
}
h1 {
 	font-size: 2.5em;
 }

 footer {
 	display:none;
}

footer p {
	font-size: .65em;
}

.main-nav-wrapper a {
	padding-right: 8px; 
	font-style: italic;
	font-size: .75em;

}


/*LINKS */
.grid_12 a:link {
	font-size: .65em;
}

	





